.page {
    margin: 0 auto;
    font-family: 'Haval', Arial, Helvetica, sans-serif;
    border: 1px solid red;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));*/
    background-color: #00CABF;
    color: #fff;
}

.header-info {
    width: 1170px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding-left: 15px;
}

.header-info__item {
    display: flex;
    border: 1px solid green;
}





.header-info__image {
    width: 162px;
    height: 42px;
    margin-top: 3px;
}

.header-info__and {
    margin-left: 15px;
    margin-right: 15px;
}

/*.header-info__logo {}*/

.header-info__telephone-image {
    width: 21px;
    height: 24px;
}

.header-info__telephone-number {
    font-family: Haval;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid yellow;

}

.header-info__adress-text{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.header-info__adress-image {
    width: 17px;
    height: 28px;
}

.header-info__adress-info {
    font-family: Haval;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;

}

.header-info__adress-time {
    font-family: Haval;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;

}

.navigation {
    width: 100%;
    background: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    display: flex;
    justify-content: center;
}

.navigator__links {
    margin-right: 100px;
}

.navigator__link {
    color: #fff;
    text-decoration: none;
}

.main {
    width: 100%;
}

.fix_the_conditions {
    background-image: url("./images/svg-editor-image.svg");
    width: 100%;
    height: 756px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fix_the_conditions__title {
    margin-top: 80px;
    text-align: center;
    width: 1140px;
    height: 148px;
    border: 1px solid green;
}

.fix_the_conditions__main-text {
    font-family: Haval;
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin: 0;
}

.fix_the_conditions__subtitle-text {
    font-family: Haval;
    font-size: 40px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #00CABF;
    margin: 0;

}

.button {
    width: 374px;
    height: 60px;
    padding: 21px 23px 20px 22px;
    background: #00CABF;
    font-family: Haval;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}


.leave_a_request {
    border: 1px solid green;

}

.message-button {
    width: 56px;
    height: 56px;
    background-image: url('./images/div.b24-widget-button-block.png');
}

.time {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.time__title {
    border: 1px solid yellow;
    text-align: center;
}

.clock {
    display: flex;
    border: 1px solid green;
}