.page {
    margin: 0 auto;
    font-family: 'Haval', Arial, Helvetica, sans-serif;
  
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.main{
    width: 100%;
}
